<table class="table striped">
    <thead>
    <tr><th>Branch</th><th>Deployed</th></tr>
    </thead>
    <tbody>
    <tr ng-repeat="datum in data">
        <td><a href="{{ datum.URL }}">{{ datum.URL | stripprotocol }}</a></td>
        <td>{{ datum.Deployed }}</td></tr>
    <tr ng-if="!loading && data.length == 0"><td colspan="2">No results</td></tr>
    <tr ng-if="loading"><td colspan="2">Loading...</td></tr>
    </tbody>
</table>

<p>
    <a href="stationmaster.csv" class="btn btn-primary btn-large"><span class="glyphicon glyphicon-download"></span> Download as CSV</a>
</p>